.header-container {
  background-color: #dbeafe;
  height: 12vh;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  font-family: 'Bree Serif';
}

.header-logo {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.header-title {
  font-size: 28px;
}
